*.venv
*mimic-iii
data/**
data/parquet/**
!data/parquet
data/samples/**
!data/samples
data/samples_demographics/**
!data/samples_demographics
data/samples_icd9/**
!data/samples_icd9
data/samples_numerical/**
!data/samples_numerical
data/samples_statB/**
!data/samples_statB
!data/anotation.csv
resources/claims_codes_hs_300.pickle
resources/claims_codes_hs_300.txt